<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} | Duncan's Cookbook</title>
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans:400,700&display=swap" rel="stylesheet">
        <style>
            {% include "css/styles.css" ignore missing %}
        </style>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>