html {
  font-size: 20px;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg);
  border: 1rem solid var(--border);
  padding: 5vw 1rem 2rem 1rem;
  overflow-x: hidden;
}
h1 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

a {
  text-decoration-color: var(--border);
  color: var(--link);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
